.app{

display: flex;
flex-direction: column;
align-items: center;

}
.btn{
    width: 50%;
    padding: 10px 0 ;
    margin: 20px 0;
    color: white;
    background:black;
    border :2px solid rgb(214, 207, 207);
    outline: none;
    font-size: 2rem;
}
.btn:hover{
font-size: 2.2rem;
}